body{

	background-color: white;
	display: flex;
	flex-direction: column;
	height:500px;
	width:800px;
	margin:auto;
}

#head{

	display: inline;
	margin:auto;
	font-size: 40px;

}

#arrow{
	font-size: 100px;
}

#butdiv{

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 500px;
	margin:auto;
	align-content: center;
}


.button{
	
	display:flex;
	height: 75px;
	width: 200px;
	margin: auto;
	outline-style: solid;
	border-radius: 10px;
	outline-width: 2px;
	outline-color: black;
	background-color: blue;
	box-shadow: 5px 5px lightgray;

	justify-content: space-around;

	cursor: default;
	user-select: none;

}

h1{

	height:fit-content;	
	margin:auto;

}

li{
	font-size: 24px;
}