body{

	background-color: white;
	display: flex;
	flex-direction: column;
	font-family: Courier New, monospace;
	height:100vh;
	width:100vw;
	margin:auto;

}

#head{

	display: inline;
	margin:auto;
	font-size: 40px;

}

#arrow{
	font-size: 100px;
}

#butdiv{

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 500px;
	margin:auto;
	align-content: center;
}

#button1bod{

	display: flex;
	justify-content: center;
	background-color: yellow;
	font-size: 30px;

}

.button{
	display: flex;

	height: 80px;
	width: 30%;
	border-radius: 10px;
	outline-color: black;

	justify-content: center;
	align-items: center;

	background-color: lightgreen;
	cursor: default;
	user-select: none;
}

h1{

	height:fit-content;	
	margin:auto;

}

li{
	font-size: 24px;
}