body{

}

input, section{

	background-color: #414558;
	width: 98%;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 1%;
	border-radius: 10px;


	height:35px;
	font-size: 20px;
	color: white;

}

form{

	display: flex;
	flex-direction: column;
	justify-content: space-around;

}
#inputs{

	display: flex;
	flex-direction: row;

}

.section{

	width:40%;
	margin:auto;
	margin-top: 1%;

}

#submit, #add{


	height:35px;
	width: fit-content;
	border-radius: 5px;
	background-color: black;
 	color:	white;
 	font-size: 20px;

 	marin:auto;

}

.submit{
	margin-left: 5%;
}